<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="jumbotron">
    <h1>
    <%= @cocktail.name %> is good
    </h1>
  </div>

  <ul class="justify-content-center">
    <% @doses.each do |dose| %>
      <li>
        <%= dose.description %>
        <br>
        <%= dose.ingredient.name %>
        <br>
        <%= link_to "delete", dose_path(dose),
        method: :delete,
        data: { confirm: "Are you sure you want to delete this dose?" }  %>
      </li>
    <% end %>
  </ul>

  <%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail) %>
  <br>
  <%= link_to 'Back', cocktails_path  %>
</div>
