<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="jumbotron">
    <h1>
    <%= @cocktail.name %>
    </h1>
  </div>

  <ol>
    <% @doses.each do |dose| %>
      <li>
        name: <%= dose.ingredient.name %>
        description: <%= dose.description %>
        <%= link_to "delete", dose_path(dose),
        method: :delete,
        data: { confirm: "Are you sure you want to delete this task?" }  %>


      </li>
    <% end %>
  </ol>

  <%= link_to 'Back', cocktails_path  %>
  <%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail) %>
</div>
