<div class="container">
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.input :ingredient, as: :select, collection: Ingredient.all %>
    <%= f.submit "add dose", class: "btn btn-primary" %>
  <% end %>

  <%= link_to 'Back', cocktail_path(@cocktail)  %>
  <%= link_to 'Home', cocktails_path %>
</div>
